<div class="tweetBox">
  <%= form_tag(tweet_create_url) do %>
    <%= hidden_field_tag :room_id, @room_id %>
    <%= text_area_tag :body %></br>
    <%= submit_tag t :post %>
    <p id="countUp">0</p>
    <hr class="defloat" />
  <% end %>
</div>
