<div class="tweetBox">
  <%= form_tag({:action => :create, :since_id => @tweets.first ? @tweets.first.id : nil}) do %>
    <%= text_area_tag :body %></br>
    <%= submit_tag "Post" %>
  <% end %>
</div>
