<%= iphone_title(t "Mio") %>

<div data-role="content">
<%= icon_tag(@tweet.user.profile_image_url) %>
  <h3><%= @tweet.user.screen_name %></h3>
  <p><%= @tweet.body %></p>
</div>

<footer data-role="footer">
</footer>
