<div class="rooms">
<h3>Room List</h3>
<ul class="roomLists">
  <% @rooms.each do |room| %>
    <li>
    <p class="name"><%= link_to room.name, :action => :show, :name => room.name %></p>
    <p class="user">owner: <%= room.user.screen_name || room.user.email %></p>
    <p class="time">time: <%= jp_time room.created_at %></p>
    </li>
  <% end %>
</ul>
<%= paginate @rooms %>
</div>
