$site-width: 820px;
@mixin centering {
  margin: 0 auto;
}
@mixin rounded($radius: 20px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin top-rounded($radius: 10px) {
  border-radius: $radius $radius 0 0;
  -moz-border-radius: $radius $radius 0 0;
  -webkit-border-radius: $radius $radius 0 0;
}
@mixin shadowed($radius: 10px, $color: #000) {
  box-shadow: 0 0 $radius $color;
  -moz-box-shadow: 0 0 $radius $color;
  -webkit-box-shadow: 0 0 $radius $color;
}
@mixin link_color($color: $color-link) {
  a {
    &:link,
    &:hover,
    &:visited {
      color: $color;
    }
  }
}
@mixin main_font {
  font-family: Arial, Helvetica, sans-serif;
}



// global setting
* { margin: 0; padding: 0; }
ul { list-style: none;}
@include link_color(#B02217);
a { text-decoration: none; }
.inner { @include centering; width:$site-width; }
.defloat {
  clear: both;
  height: 0;
  border: 0;
}
body { background-color:#F8E8F2; }
html { margin-bottom:1px; height:100%; overflow-y:scroll }

#header {
  background-color:black; height:40px; color:white; margin-bottom:20px; font-size:20px; line-height:2.0; font-weight:bold;
  h1 { float:left; color:#53CCFF; @include link_color(#53CCFF); font-size:20px; line-height:2.0; }
  .menu {
    float:right;
    span { margin-left:20px; }
  }
}

#main .inner { background-color:white; padding:20px; @include rounded; }

.tweetBox {
  padding-bottom:30px;
  textarea#body { width:100%; height:60px; font-size:120%; padding:5px; }
  input[type=submit] { padding:5px 20px; border:solid 2px #bbb; @include rounded; font-size:100%; cursor:pointer; background-color:#ccc; }
  input[type=submit]:hover { background-color:#eee }
  #countUp { float:right; font-size:120%; }
}

.tweets {
  .icon { float:left; margin-right:20px; width:50px; height:50px; display:block; }
  .description { overflow:hidden; }
  .body span.retweet { color:#ccc; @include link_color(#ccc); }
  .user { font-size:80%; color:#7299C1; @include link_color(#7299C1); }
  .time { font-size:80%; color:#ccc; float:left; margin-right:20px; }
  ._body { display:none; }
  .buttons {
    font-size:80%; color:#ccc; float:left; @include link_color(#ccc);
    span { margin-right:5px; }
    span:hover { color:black; cursor:pointer; }
    .unfavorite { @include link_color(#FFC66D) }
  }
  .favorites {
    color:#ccc;
    img { vertical-align:middle; }
  }
  li { padding:5px 0; margin:5px 0; border-bottom:solid 1px #eee; }
  li:last-child { border-bottom:0; }
}

.users {
  li { padding:5px 0; margin:5px 0; border-bottom:solid 1px #eee; }
  li:last-child { border-bottom:0; }
  .icon { float:left; margin-right:20px; width:50px; height:50px; display:block; }
}

.rooms {
  .user { font-size:80%; color:#7299C1; }
  .time { font-size:80%; color:#ccc; }
  li { padding:5px 0; margin:5px 0; border-bottom:solid 1px #eee; }
  li:last-child { border-bottom:0; }
}

.wiki {
  .title { font-size:200%; border-bottom:solid 3px black; margin-bottom:5px; }
  .menu { text-align:right; }
  .back { margin-top:20px; }
  input#title,
  input#name { width:50%; }
  textarea#body { font-size:120%; width:100%; }
  .body {
    color:#555;
    h1, h2, h3, h4, h5 { padding-top:20px; color:black; }
    ol { padding-left:25px; }
    ul { list-style-type:disc; padding-left:20px; }
    ul ul { list-style-type:circle; }
    ul ul ul { list-style-type:decimal; }
  }
}

.devise.links { margin-top:20px; }

#footer { text-align:center; padding:20px 0; }
