// variable
$site-width: 820px;
$replied-bg-color: #FDF490;
$button-bg-color: #518CC6;
$bg-color: #ddd;

// mixin
@mixin centering {
  margin: 0 auto; }
@mixin rounded($radius: 20px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius; }
@mixin top-rounded($radius: 10px) {
  border-radius: $radius $radius 0 0;
  -moz-border-radius: $radius $radius 0 0;
  -webkit-border-radius: $radius $radius 0 0; }
@mixin shadowed($radius: 10px, $color: #000) {
  box-shadow: 0 0 $radius $color;
  -moz-box-shadow: 0 0 $radius $color;
  -webkit-box-shadow: 0 0 $radius $color; }
@mixin link_color($color: $color-link) {
  a { &:link, &:hover, &:visited { color: $color; } } }
@mixin button {
  input[type=submit] {
    @include rounded(10px);
    padding:5px 20px;
    margin:10px 0;
    border:solid 3px #ccc;
    font-size:100%;
    cursor:pointer;
    background-color:#eee; }
  input[type=submit]:hover {
    background-color:#ddd; }
  @include link_color(#333);
  a {
    @include rounded(5px);
    border:1px solid #aaa;
    padding:5px 10px;
    font-weight:bold;
    text-shadow:0 1px 0 white;
    background-color:#eee; }
  a:hover {
    color:white;
    background-color:$button-bg-color;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3); } }
@mixin a_button {
  @include link_color(#333);
  a {
    @include rounded(5px);
    border:1px solid #aaa;
    padding:5px 10px;
    font-weight:bold;
    text-shadow:0 1px 0 white;
    background-color:#eee; }
  a:hover {
    color:white;
    background-color:$button-bg-color;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3); } }

// general
* {
  margin: 0;
  padding: 0; }
ul {
  list-style: none; }
@include link_color(#B02217);
html {
  height:100%;
  margin-bottom:1px;
  overflow-y:scroll }
body {
  background-color:white;
}
a {
  text-decoration: none; }
.inner {
  @include centering;
  width:$site-width; }
.defloat {
  height: 0;
  border: 0;
  clear: both; }
.left {
  float:left;
  text-align:left; }
.right {
  float:right;
  text-align:right; }

#header {
  background-color:#555;
  height:40px;
  color:white;
  margin-bottom:20px;
  font-size:20px;
  line-height:2.0;
  font-weight:bold;
  @include shadowed;
  h1 {
    float:left;
    color:#53CCFF;
    @include link_color(#53CCFF);
    font-size:20px;
    line-height:2.0; }
  .menu {
    float:right;
    span {
      margin-left:20px; } } }

#main .inner {
  padding:20px;
}

.tweetBox {
  padding-bottom:30px;
  textarea#body {
    width:($site-width - 10px);
    height:60px;
    font-size:120%; padding:5px; }
  #countUp {
    float:right; font-size:120%; }
  @include button;
}

.tweetSearchBox {
  @include button;
  text-align:center;
  input#query {
    font-size:150%;
    padding:5px;
    width:70%; } }

.tweets {
  font-size:80%;
  .icon {
    float:left;
    margin-right:10px;
    display:block; }
  .description {
    overflow:hidden; }
  .body span.retweet {
    color:#aaa;
    @include link_color(#aaa); }
  .user {
    font-size:80%;
    color:#7299C1;
    float:left;
    @include link_color(#7299C1); }
  .info { position:absolute; top:5px; right:0; font-size:80%; color:#aaa; }
  ._body { display:none; }
  .buttons {
    display:none;
    font-size:80%;
    color:#aaa;
    float:left;
    margin-left:20px;
    @include link_color(#aaa);
    span {
      margin-right:5px; }
    span:hover {
      color:black;
      cursor:pointer; }
    .unfavorite {
      @include link_color(#FFC66D) }
  }
  li:hover .buttons { display:block; }
  .favorites {
    color:#aaa;
    img {
      vertical-align:middle; }
  }
  li { position:relative; padding:5px 0; border-bottom:solid 1px #eee; }
  li:last-child { border-bottom:0; }
  li.replied { background:url(/images/exclamation.png) no-repeat 680px 0 }
}

.users {
  li {
    padding:5px 0;
    margin:5px 0;
    border-bottom:solid 1px #eee; }
  li:last-child {
    border-bottom:0; }
  .icon {
    float:left;
    margin-right:20px;
    width:50px;
    height:50px;
    display:block; }
}

.rooms {
  .user {
    font-size:80%;
    color:#7299C1; }
  .time {
    font-size:80%;
    color:#aaa; }
  .left {
    float:left; }
  .delete {
    @include a_button;
    font-size:80%;
    float:right;
    margin-top:20px; }
  li {
    padding:5px 0;
    margin:5px 0;
    border-bottom:solid 1px #eee; }
  li:last-child {
    border-bottom:0; }
}

.wiki {
  .menu {
    text-align:right;
    @include a_button; }
  .title {
    font-size:200%;
    border-bottom:solid 3px black;
    margin-bottom:10px; }
  .pages {
    margin-top:20px;
    li {
      padding:5px 0;
      border-bottom:1px dotted #ccc;
      &:first-child { border-top:1px dotted #ccc; }
      .name { font-size:120%; }
      .date { font-style:italic; padding-top:5px; color:#aaa; }
    }
  }
  .detail {
    .back {
      margin-top:20px; }
    input#name {
      width:50%;
      font-size:120%; }
    textarea#body {
      font-size:120%;
      width:($site-width - 10px);
      padding:5px; }
    .body {
      color:#555;
      font-size:80%;
      h1, h2, h3, h4, h5 {
        padding-top:20px; color:#333; }
      h1 {
        border-bottom:dotted 2px #ccc;
        margin-bottom:5px; }
      pre {
        font-size:120%;
        background-color:#ddd;
        padding:10px;
        @include rounded(10px); }
      ol {
        padding-left:25px; }
      ul {
        list-style-type:disc;
        padding-left:20px; }
      ul ul {
        list-style-type:circle; }
      ul ul ul {
        list-style-type:decimal; }
      table, th, td { border:solid 1px black; }
      table {
        margin:10px 0;
        border-collapse: collapse;
      }
      th { background-color:#ccc; }
      td { padding: 5px; }
    }
  }
}

.devise.links {
  margin-top:20px; }

#footer {
  text-align:center; padding:20px 0; }
