* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a:link, a:hover, a:visited {
  color: #b02217; }

a {
  text-decoration: none; }

.inner {
  margin: 0 auto;
  width: 820px; }

.defloat {
  clear: both;
  height: 0;
  border: 0; }

body {
  background-color: #F8E8F2; }

#header {
  background-color: black;
  height: 40px;
  color: white;
  margin-bottom: 20px; }

#header h1 {
  float: left;
  font-size: 20px;
  line-height: 2.0;
  font-weight: normal;
  color: #53CCFF; }

#header .user {
  float: right;
  font-size: 20px;
  line-height: 2.0;
  font-weight: normal; }

#main .inner {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px; }

.tweetBox textarea#body {
  width: 100%;
  height: 50px;
  font-size: 120%; }

.tweetBox #countUp {
  float: right;
  font-size: 120%; }

.tweets li {
  padding: 5px 0;
  margin: 5px 0;
  border-bottom: solid 1px #eee; }

.tweets li:last-child {
  border-bottom: 0; }

.tweets .user {
  font-size: 80%;
  color: #7299C1; }

.tweets .time {
  font-size: 80%;
  color: #ccc; }

#footer {
  text-align: center;
  margin: 20px 0; }
