<div class="wiki list">
  <h3 class="title">Wiki</h3>
  <p class="menu">
  <span class="create"><%= link_to t(".create_page"), wiki_create_url %></span>
  </p>
  <ul class="pages">
    <% @pages.each do |page| %>
      <li>
        <p class="name left"><%= link_to page.name, wiki_show_url(page.name) %></p>
        <p class="date right"><%= jp_date_long page.updated_at %></p>
        <hr class="defloat" />
      </li>
    <% end %>
  </ul>
  <%= paginate @pages %>
</div>
