<header data-role="header">
  <%= link_to "home", :root, "data-role" => "button", "data-icon" => "home" %>
  <h1><%= title %></h1>
  <% unless controller.controller_name == "tweet" && controller.action_name == "new" %>
    <%= link_to "tweet", :tweet_new, "data-role" => "button", "data-icon" => "right", "rel" => "external" %>
  <% end %>
</header>
