<header data-role="header">
  <%= link_to "back", request.referer, "data-role" => "button" %>
  <h1><%= title %></h1>
  <% unless controller.controller_name == "tweet" && controller.action_name == "new" %>
    <%= link_to "tweet", tweet_new_url, "data-role" => "button" %>
  <% end %>
</header>
