%p.close
  = image_tag("/images/close.png", :size => "50x50")
%iframe{ :src   => Setting.calendar.iframe_url,
  :style        => "border:0",
  :width        => 800,
  :height       => 620,
  :frameborder  => 0,
  :scrolling    => "no"}
