<!DOCTYPE html>
<html>
  <head>
    <title>Mio</title>
    <%= stylesheet_link_tag %w{jquery.mobile style.mobile} %>
    <%= javascript_include_tag %w{jquery jquery.mobile rails application.mobile} %>
    <%= csrf_meta_tag %>
    <meta name="format-detection" content="telephone=no" />
  </head>
  <body>
    <div data-role="page">
      <%= yield %>
    </div>
  </body>
</html>
