<!DOCTYPE html>
<html>
  <head>
    <title>Mio</title>
    <%= stylesheet_link_tag "jquery.mobile" %>
    <%= javascript_include_tag %w{jquery jquery.mobile jquery.lazyload rails application} %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div data-role="page">
      <%= yield %>
    </div>
  </body>
</html>
